In [2]:
#import Libraries
from bs4 import BeautifulSoup
import requests 
import smtplib
import time
import datetime

In [24]:
#conect to website ( in this case i had to use a downloaded website hence commenting out parts that are for online site)
url = "E:\Data Analytics\WebScraping\Amazon.com_ Funny Got Data MIS Data Systems Business Analyst T-Shirt _ Clothing, Shoes & Jewelry.html"
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/117.0.0.0 Safari/537.36 Edg/117.0.2045.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}
#page = requests.get(url,headers=headers)
#soup1=BeautifulSoup(url.content,"html.parser")
#soup2=BeautifulSoup(soup1.prettify(),'html.parser')
#title = soup2.find(id='productTitle').get_text()
with open(url, 'r', encoding='utf-8') as file:
    url_content = file.read()
soup1 = BeautifulSoup(url_content, 'html.parser')
soup2=BeautifulSoup(soup1.prettify(),'html.parser')
#print(soup2)
title = soup2.find(id='productTitle').get_text()
price = soup2.find(id="corePriceDisplay_desktop_feature_div").get_text()
print(title)
print(price)

                  Funny Got Data MIS Data Systems Business Analyst T-Shirt






                 $16.99



                  $


                  16

                   .



                  99

In [30]:
#pick only the price 
price = price.strip()[1:6]

In [34]:
title = title.strip()

In [41]:
print(title)
print(price)

Funny Got Data MIS Data Systems Business Analyst T-Shirt
16.99

In [48]:
today = datetime.date.today()

In [49]:
import csv
header =['Date','Title','Price']
data=[today,title,price]

#create a file to output to
with open('AmazonOfflineScrapping.csv','w',newline='',encoding='UTF8') as f:
    writer= csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [52]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Peter Mwangi\Web Scrapping In Amazon\AmazonOfflineScrapping.csv")
df

         Date                                              Title  Price
0  2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
1  2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99

In [51]:
#append data to the csv
with open('AmazonOfflineScrapping.csv','a+',newline='',encoding='UTF8') as f:
    writer= csv.writer(f)
    writer.writerow(data)

In [54]:
def check_price():
    url = "E:\Data Analytics\WebScraping\Amazon.com_ Funny Got Data MIS Data Systems Business Analyst T-Shirt _ Clothing, Shoes & Jewelry.html"
    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/117.0.0.0 Safari/537.36 Edg/117.0.2045.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}
    with open(url, 'r', encoding='utf-8') as file:
         url_content = file.read()
    soup1 = BeautifulSoup(url_content, 'html.parser')
    soup2=BeautifulSoup(soup1.prettify(),'html.parser')
    title = soup2.find(id='productTitle').get_text()
    price = soup2.find(id="corePriceDisplay_desktop_feature_div").get_text()
    price = price.strip()[1:6]
    title = title.strip()
    today = datetime.date.today()
    with open('AmazonOfflineScrapping.csv','a+',newline='',encoding='UTF8') as f:
        writer= csv.writer(f)
        writer.writerow(data)

In [55]:
while (True):
    check_price()
    time.sleep(5)

KeyboardInterrupt:

In [57]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Peter Mwangi\Web Scrapping In Amazon\AmazonOfflineScrapping.csv")
df

          Date                                              Title  Price
0   2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
1   2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
2   2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
3   2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
4   2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
5   2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
6   2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
7   2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
8   2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
9   2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
10  2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
11  2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
12  2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
13  2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
14  2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
15  2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
16  2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
17  2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
18  2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
19  2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
20  2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
21  2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
22  2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
23  2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
24  2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
25  2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
26  2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
27  2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
28  2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
29  2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
30  2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99
31  2023-09-24  Funny Got Data MIS Data Systems Business Analy...  16.99